$blue-color: #2f82ff;
$grey-color: #dadada;
$light-error-color: #fd010169;
$error-color: #ed4337;
$success-color: #6cc070;

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

@mixin align($value) {
  align-items: $value;
  justify-content: $value;
}

.btn {
  display: flex;
  @include align(center);
  gap: 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
}


.btn_primary {
  @extend .btn;
  padding: 10px 0;
  background: $blue-color;
  border: 2px solid $blue-color;
  color: #fff;
  width: 100%;
  &:hover {
    background: #1271ff;
    transition: all 0.1s ease;
  }
}
.btn_outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 0;
  border: 2px solid $blue-color;
  gap: 5px;
  //   background: $grey-color;
  color: $blue-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  &:hover {
    background: #eaeaea;
    transition: all 0.1s ease;
  }
}

.error {
    color: $error-color;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  
  .success {
    color: $success-color;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  